@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");

* {
  box-sizing: border-box;

  border: 1px solid red;
}

html {
  background: URL("./assets/wallpaper.png") left top repeat;
}
.container {
  height: 100vh;
  background: URL("./assets/portrait-half-left.png") left center no-repeat,
    URL("./assets/portrait-half-right.png") right center no-repeat;
}

nav {
  background-color: #b69b7c;
  box-shadow: 20px 20px 30px #b69b7c;
  opacity: 0.7;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

nav ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

nav li {
  text-decoration: none;
  list-style-type: none;
  padding: 0 2rem;
}

nav a {
  font-family: "Bigelow Rules", cursive;
  list-style-type: none;
  color: #290904;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.signinRegister {
  font-family: "Bigelow Rules", cursive;
  color: #290904;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.Test {
  color: white;
}

.cardContainer {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.home {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.cabinet {
  margin: 0 auto;
  width: 830px;
  object-fit: contain;
  position: fixed;
  bottom: 0;
}
.cabinetObjects {
  margin: 0 auto;
  object-fit: contain;
  position: fixed;
  bottom: 0;
}

.firstShelf,
.secondShelf,
.thirdShelf,
.fourthShelf {
  width: 500px;
  height: 140px;
  position: static;
  margin: 0 auto;
}

.totem {
  width: 17%;
  margin: 0 2.5rem;
}

.car {
  width: 40%;
  margin: 0 1.5rem;
}

.doll {
  width: 20%;
  margin: -2.9rem 1.5rem;
}

.dress {
  width: 15%;
  margin: -1.2rem 7.5rem;
}

.anguished {
  width: 20%;
  margin: 0 4.5rem;
}

.addNewObj {
  margin: 0 auto;
  width: 20rem;
  height: 3rem;
}

.profilePage {
  margin: 2rem auto;
}

.welcome {
  font-family: "Bigelow Rules", cursive;
  color: #290904;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  width: 100px;
  margin: 3rem auto;
}

.totemCard,
.Card,
.Object {
  background-color: #b99c77;
  border: 4px solid #693a2d;
  padding: 1rem;
  margin: 1rem;
  overflow: scroll;
}

p {
  font-family: "Poppins";
  font-size: 0.75rem;
  font-weight: 600;
}

.userListContainer,
.adminListContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 5rem auto;
  width: 1000px;
}

.userList,
.adminList {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 20rem;
  max-width: 1000px;
  max-height: 1200px;
  background-color: blue;
  border: 10px solid red;
}

.welcomeFrame {
  margin: 4rem auto;
  background: URL("../src/assets/welcome.png");
  width: 700px;
  height: 247px;
}

.welcome {
  text-align: left;
  margin: 4rem 4rem;
  width: 500px;
  height: 150px;
}

/* ===============button======================= */

.addButton,
.deleteButton {
  text-align: center;
  margin: 0 auto;
  height: 2rem;
  width: 6rem;
}

.button-19 {
  appearance: button;
  background-color: #71482f;
  border: solid transparent;

  border-width: 0 0 4px;
  box-sizing: border-box;
  box-shadow: 5px 10px 20px #2b1f17;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 5px 8px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #71482f;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(80%);
}

.button-19:disabled {
  cursor: auto;
}

/* ==============candle lol==================== */

.animatedCandle {
  margin: -2rem auto;
  width: 200px;
  position: fixed;
  bottom: 0;
  right: 8rem;
}

.animatedCandle2 {
  margin: -4rem auto;
  width: 200px;
  position: fixed;
  bottom: 0;
  right: 2rem;
}

.holder {
  margin: 12rem auto 0;
  width: 150px;
  height: 400px;
  position: relative;
}
.holder *,
.holder *:before,
.holder *:after {
  position: absolute;
  content: "";
}

.candle {
  bottom: 0;
  width: 140px;
  height: 130px;
  border-radius: 150px / 40px;
  background: #190f02;
  background: linear-gradient(#e48825, #e78e0e, #833c03);
}

.candle:before {
  width: 100%;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #d47401;
  background: #b86409;
}

.candle:after {
  width: 33px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 14px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.thread {
  width: 6px;
  height: 36px;
  top: -17px;
  left: 50%;
  z-index: 1;
  border-radius: 40% 40% 0 0;
  transform: translateX(-50%);
  background: #121212;
}

.flame {
  width: 24px;
  height: 120px;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%);
  bottom: 100%;
  border-radius: 50% 50% 20% 20%;

  background: linear-gradient(white 80%, transparent);
  animation: moveFlame 6s linear infinite, enlargeFlame 5s linear infinite;
}

@keyframes moveFlame {
  0%,
  100% {
    transform: translateX(-50%) rotate(-2deg);
  }
  50% {
    transform: translateX(-50%) rotate(2deg);
  }
}

@keyframes enlargeFlame {
  0%,
  100% {
    height: 120px;
  }
  50% {
    height: 140px;
  }
}

.glow {
  width: 26px;
  height: 60px;
  border-radius: 50% 50% 35% 35%;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  background: rgba(0, 133, 255, 0.7);
  box-shadow: 0 -40px 30px 0 #dc8a0c, 0 40px 50px 0 #dc8a0c,
    inset 3px 0 2px 0 rgba(0, 133, 255, 0.6),
    inset -3px 0 2px 0 rgba(0, 133, 255, 0.6);
}

.glow:before {
  width: 70%;
  height: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
}

.blinking-glow {
  width: 100px;
  height: 180px;
  left: 50%;
  top: -55%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #ff6000;

  filter: blur(60px);
  animation: blinkIt 0.1s infinite;
}

@keyframes blinkIt {
  50% {
    opacity: 0.8;
  }
}
