@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");

* {
  box-sizing: border-box;

  border: 1px solid red;
}

html {
  background: URL("./assets/framed-landscape.png") -65% -80% no-repeat,
    URL("./assets/cabinet.png") 50% -5% no-repeat,
    URL("./assets/framed-girl.png") 130% -50% no-repeat,
    URL("./assets/wallpaper.png") left top repeat;
}

.logo {
  width: 4rem;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav {
  height: 7rem;
}

nav ul {
  width: 660px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  background-color: #aa9581;
  box-shadow: 0 0 20px 20px #aa9581;
  opacity: 0.5;
}

nav li {
  margin: 0 auto;
  text-decoration: none;
  list-style-type: none;
}

nav a {
  font-family: "Bigelow Rules", cursive;
  list-style-type: none;
  padding: 0 1rem;
  color: black;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.objectNav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 680px;
  background-color: #92563e;
  opacity: 0.85;
}

.objectNav li {
  padding: 0.7rem 1rem;
  list-style-type: none;
}

.objectNav a {
  width: 5rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-decoration: none;
  margin: 0 1rem 0 0;
  color: #f5feff;
}

h1 {
  color: white;
}

.Test {
  color: white;
}

.cardContainer {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.totemsOnShelf {
  margin: 0 auto;
  width: 500px;
  height: 100%;
}

.totem {
  width: 15%;
  margin: 1rem 1rem;
}
